@import "compass/reset";
@import "compass/css3/opacity";

/*
  Variables
*/

$link-color: #464646;

body {
  background: url('../pattern.jpg');
  color: $link-color;
  font-family: 'ChivoRegular', arial, sans-serif;
  font-size: 13px;
  height: 100%;
  text-align: center;
  width: 100%;
}

a {
  &:link {
    color: $link-color;
    text-decoration: none;
  }
  &:visited {
    color: darken($link-color, 15%);
  }
  &:hover {
    color: darken($link-color, 20%);
  }
  &:focus {
    color: darken($link-color, 20%);
  }
}

p {
  margin: 1em 0;
  &.mail {
    font-size: 150%;
    font-style: normal;
  }
}

i {
  font-style: italic;
}

.content-wrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -0.25em; /* Adjusts for spacing */
    text-align: center;
    vertical-align: middle;
  }
  .content {
    display: inline-block;
    *margin-top: 150px; /* IE 7 */
    vertical-align: middle;
    width: 300px;
  }
}

.social {
  margin: 1.5em auto;
  text-align: center;
  width: 150px;
  li {
    display: inline;
    float: left;
    margin: 0 10px;
    a {
      @include opacity(.25);

      background: url("../social.png") no-repeat;
      display: block;
      height: 24px;
      text-indent: -10000px;
      width: 24px;
      &.twitter {
        width: 32px;
      }
      &.facebook {
        background-position: -32px 0;
      }
      &.linkedin {
        background-position: -56px 0;
      }
      &:hover {
        @include opacity(.5);
      }
    }
  }
}
