/* Navigation
   ================================================================================================================== */

.nav {
  position: fixed;
  z-index: 99;

  width: 100%;

  &--inner {
    padding: 2em;
    max-width: 62.5em;
    margin-right: auto;
    margin-left: auto;
  }

  &-title {
    color: $white;
    font-weight: 600;
    text-transform: uppercase;
  }
}

/* Header
   ================================================================================================================== */

.header {
  box-sizing: border-box;
  height: 100%;
  padding: 2em;
  width: 100%;

  background: url('../images/header-background.jpg') no-repeat left;
  color: $white;

  @include background-size(cover);

  @include breakpoint($breakpoint-lap) {
    background-position: center;
  }

  @include breakpoint($breakpoint-desk) {
    position: fixed;
    top: 0;
  }

  // Header inner
  &--inner {
    position: relative;
    top: 50%;

    @include translateY(-50%);

    // Seems there is a bug with the vertical align in Chrome on first load, this fixes it
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 62.5em;
    padding-left: 0;
  }

  // Big header
  &--big {
    font-size: 2em;
    font-weight: 600;

    @include breakpoint($breakpoint-lap) {
      font-size: 3em;
    }

    @include breakpoint($breakpoint-desk) {
      position: relative;

      font-size: 3.5em;
    }

    @include breakpoint($breakpoint-bigscreen) {
      font-size: 4em;
    }

    // Tweaking for landscape
    @media screen and (orientation:landscape) and (max-height: 287px) {
      font-size: 1.5em;
    }
  }

  // Sub header
  &--sub {
    margin-bottom: 1em;

    font-weight: 300;

    @include breakpoint($breakpoint-lap) {
      font-size: 1.25em;
    }

    @include breakpoint($breakpoint-desk) {
      position: relative;

      font-size: 1.75em;
    }

    @include breakpoint($breakpoint-bigscreen) {
      font-size: 2em;
    }

    // Tweaking for landscape
    @media screen and (orientation:landscape) and (max-height: 287px) {
      font-size: 1em;
    }
  }
}