/* Header
   ================================================================================================================== */

@include keyframes(header-big) {
  0% {
    right: 50%;

    @include opacity(0);
  }

  50% {
    right: 0;

    @include opacity(1);
  }

  100% {
    right: 0;

    @include opacity(1);
  }
}

@include keyframes(header-sub) {
  0% {
    right: 50%;

    @include opacity(0);
  }

  75% {
    right: 50%;

    @include opacity(0);
  }

  100% {
    right: 0;

    @include opacity(1);
  }
}

@include keyframes(header-button) {
  0% {
    @include opacity(0);
  }

  95% {
    @include opacity(0);
  }

  100% {
    @include opacity(1);
  }
}

.header {
  @extend %grid--center;

  position: relative;
  z-index: 99;

  height: 100%;
  width: 100%;

  background: url('/images/header-background.jpg') no-repeat left;
  color: $white;

  @include background-size(cover);

  @include breakpoint($breakpoint-lap) {
    background-position: center;
  }

  // Header inner
  &--inner {
    @extend %grid__item;
    @extend %lap--seven-eighths;
    @extend %desk--three-quarters;
    @extend %bigscreen--three-fifths;

    position: relative;
    top: 50%;

    max-width: 75em;
    padding: 4.5em 1.5em 1.5em;

    @include translateY(-50%);
  }

  // Nav
  &--nav {
    position: absolute;
    top: 0;
    z-index: 99;

    height: 4em;
    width: 100%;

    background-color: transparentize($black, .25);
    line-height: 3.5em;
    text-align: center;

    &-link {
      margin-right: 1.5em;

      &:last-child {
        margin-right: 0;
      }
    }


    a {
      &:link {
        color: $white;
        font-weight: 600;
        text-decoration: none;
      }

      &:visited {
        color: darken($white, 5%);
      }

      &:hover,
      &:focus {
        color: $link-color;
        text-decoration: none;
      }
    }

    @include breakpoint($breakpoint-lap) {
      padding-right: 1.5em;
      padding-left: 1.5em;

      text-align: right;

      @include box-sizing(border-box);
    }
  }

  // Big header
  &--big {
    font-size: 2em;
    font-weight: 600;
    text-align: center;

    @include text-shadow(2px 2px 0 transparentize($black, .75));

    @include breakpoint($breakpoint-lap) {
      font-size: 3em;
    }

    @include breakpoint($breakpoint-desk) {
      position: relative;

      font-size: 3.5em;

      @include animation(header-big 1.5s ease 1);
      @include text-shadow(4px 4px 0 transparentize($black, .75));
    }

    // Tweaking for landscape
    @media screen and (orientation:landscape) and (max-height: 287px) {
      font-size: 1.5em;
    }
  }

  // Sub header
  &--sub {
    margin-bottom: 2em;

    font-weight: 300;
    text-align: center;

    @include text-shadow(1px 1px 0 transparentize($black, .75));

    @include breakpoint($breakpoint-lap) {
      font-size: 1.25em;
      text-align: left;
    }

    @include breakpoint($breakpoint-desk) {
      position: relative;

      font-size: 1.75em;

      @include animation(header-sub 1.5s ease 1);
    }

    // Tweaking for landscape
    @media screen and (orientation:landscape) and (max-height: 287px) {
      font-size: 1em;
    }
  }

  // Link button
  &--button {
    &-wrapper {
      text-align: center;
    }

    &-link {
      border: 2px solid $white;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-top: .6em;
      padding-bottom: .75em;
      width: 75%;

      background-color: transparentize($black, .65);
      color: $white;
      font-weight: 600;
      text-align: center;
      text-decoration: none;

      &:link,
      &:visited,
      &:hover,
      &:active {
        color: #fff;
        text-decoration: none;
      }

      &:hover {
        background-color: transparentize($black, .35);
      }

      @include border-radius(10px);
      @include box-sizing(border-box);

      @include breakpoint($breakpoint-lap) {
        width: 50%;

        font-size: 1.5em;
      }

      @include breakpoint($breakpoint-desk) {
        width: 40%;

        @include animation(header-button 3s ease 1);
      }

      // Tweaking for mobile device landscape (HTC One so far)
      @media screen and (orientation:landscape) and (max-height: 287px) {
        width: 30%;

        font-size: 1em;
      }
    }
  }
}


/* My work
   ================================================================================================================== */

.my-work {
  padding: 2em;
  width: 100%;

  @include box-sizing(border-box);

  @include breakpoint($breakpoint-desk) {
    padding: 5em 8em;
  }

  &--inner {
    @extend %grid;
    @extend %grid--center;

    max-width: 75em;

    background-color: transparentize($white, .5);
  }

  &--header {
    margin-bottom: 1.5em;

    color: #535353;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
  }

  &--project {
    @extend %grid__item;
    @extend %palm--one-whole;
    @extend %desk--one-third;

    margin-bottom: 3em;
    margin-left: -4px; /* Display inline block fix */

    &:last-child {
      margin-right: 0;
    }

    &-image {
      margin-bottom: 1em;
    }

    &-header {
      font-size: 1.5em;
      font-weight: 600;
      text-align: center;
    }

    &-description {
      text-align: center;
    }
  }

  &.is-scrolling {
    @include breakpoint($breakpoint-desk) {
      margin-top: -10em;

      @include opacity(0);
    }
  }

  // Start animation
  &.is-ready {
    @include breakpoint($breakpoint-desk) {
      margin-top: 0;

      @include transition(all .5s ease-out);
      @include opacity(1);
    }
  }
}


/* Contact and footer
   ================================================================================================================== */

.contact-me {
  color: $white;
  text-align: center;

  a:link,
  a:visited {
    color: white;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: $link-color;
    text-decoration: none;
  }

  &--header {
    margin-bottom: 1.5em;

    font-size: 2em;
    font-weight: 100;
    text-align: center;

    @include breakpoint($breakpoint-desk) {
      margin-left: -.75em; /* Tweak centering */
    }
  }

  &--contact {
    padding-top: 4em;

    background: url("/images/footer-bg.png") #444;

    @include breakpoint($breakpoint-desk) {
      padding: 5em 8em 16em;
    }

    &-inner {
      @extend %grid--middle;

      &.is-scrolling {
        @include breakpoint($breakpoint-desk) {
          @include opacity(0);
        }
      }

      // Start animation
      &.is-ready {
        @include breakpoint($breakpoint-desk) {
          @include transition(all 1.5s ease-out);
          @include opacity(1);
        }
      }
    }

    &-header {
      font-size: 1.75em;
    }

    &-sub-header {
      color: darken($white, 50%);
      font-size: 1.5em;
    }

    &-phone,
    &-mail {
      display: inline-block;
      margin-bottom: 3em;
      margin-left: -4px; /* Display inline block fix */

      @include breakpoint($breakpoint-desk) {
        margin-bottom: 6em;
      }
    }

    &-phone {

      @include breakpoint($breakpoint-desk) {
        margin-left: -2.75em; /* Tweak centering */

        text-align: right;
      }
    }

    &-mail {
      margin-bottom: 3em;

      @include breakpoint($breakpoint-desk) {
        text-align: left;
      }
    }

    &-image {
      display: inline-block;
      margin: 0 2em 4em;
      max-width: 10em;
    }

    &-social {
      padding-bottom: 4em;
    }

    &-facebook,
    &-twitter,
    &-linkedin {
      max-width: 3em;
    }

    &-twitter {
      margin-right: 2em;
      margin-left: 2em;
    }
  }

  &--still-here {
    padding: 10em 2em 2em;

    background: url("/images/still-here-bg.png") #222;

    &-header {
      margin-bottom: 1em;

      font-size: 1.5em;
    }

    &-sub-header {
      margin-bottom: 2em;

      color: darken($white, 25%);
      font-size: 1.25em;
      font-weight: 100;
    }

    &-image {
      margin-bottom: 2em;
      max-width: 10em;
    }
  }
}
