/* ==========================================================================
   Imports
   ========================================================================== */
/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
  font-family: "ChivoRegular";
  src: url('fonts/chivo/Chivo-Regular-webfont.eot');
  src: url('fonts/chivo/Chivo-Regular-webfont.eot?#iefix') format('eot'), url('fonts/chivo/Chivo-Regular-webfont.woff') format('woff'), url('fonts/chivo/Chivo-Regular-webfont.ttf') format('truetype'), url('fonts/chivo/Chivo-Regular-webfont.svg') format('svg');
  font-weight: "normal";
  font-style: "normal";
}

@font-face {
  font-family: "ChivoBlack";
  src: url('fonts/chivo/Chivo-Black-webfont.eot');
  src: url('fonts/chivo/Chivo-Black-webfont.eot?#iefix') format('eot'), url('fonts/chivo/Chivo-Black-webfont.woff') format('woff'), url('fonts/chivo/Chivo-Black-webfont.ttf') format('truetype'), url('fonts/chivo/Chivo-Black-webfont.svg') format('svg');
  font-weight: "Black";
  font-style: "normal";
}

@font-face {
  font-family: "PTSans";
  src: url('fonts/pt-sans/PTS55F-webfont.eot');
  src: url('fonts/pt-sans/PTS55F-webfont.eot?#iefix') format('eot'), url('fonts/pt-sans/PTS55F-webfont.woff') format('woff'), url('fonts/pt-sans/PTS55F-webfont.ttf') format('truetype'), url('fonts/pt-sans/PTS55F-webfont.svg') format('svg');
  font-weight: "normal";
  font-style: "normal";
}

@font-face {
  font-family: "PTSansBold";
  src: url('fonts/pt-sans/PTS75F-webfont.eot');
  src: url('fonts/pt-sans/PTS75F-webfont.eot?#iefix') format('eot'), url('fonts/pt-sans/PTS75F-webfont.woff') format('woff'), url('fonts/pt-sans/PTS75F-webfont.ttf') format('truetype'), url('fonts/pt-sans/PTS75F-webfont.svg') format('svg');
  font-weight: "bold";
  font-style: "normal";
}

/* ==========================================================================
   Variables
   ========================================================================== */
/* line 49, ../sass/magnify.styles.scss */
html {
  background: url("../images/pattern.jpg");
  height: 100%;
}

/* line 54, ../sass/magnify.styles.scss */
body {
  background: url("../images/lizard.png") no-repeat;
  background-position: fixed;
  color: #464646;
  font-family: "ChivoRegular", arial, sans-serif;
  font-size: 13px;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* line 65, ../sass/magnify.styles.scss */
p {
  line-height: 16px;
}

/* ==========================================================================
   Layout elements
   ========================================================================== */
/* line 73, ../sass/magnify.styles.scss */
header {
  margin-bottom: 30px;
  padding-top: 30px;
}

/* line 79, ../sass/magnify.styles.scss */
.nav-wrapper {
  background: url("../images/nav-bg.png") repeat-x 0 20px;
}
/* line 82, ../sass/magnify.styles.scss */
.nav-wrapper nav {
  background: url("../images/nav-sep.png") no-repeat;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}
/* line 89, ../sass/magnify.styles.scss */
.nav-wrapper nav .nav-item {
  display: inline-block;
  margin-left: 1px;
  margin-right: -4px;
  min-width: 33%;
}
/* line 96, ../sass/magnify.styles.scss */
.nav-wrapper nav .nav-item.active, .nav-wrapper nav .nav-item:hover {
  background: url("../images/nav-bg-active.png") repeat-x 0 20px;
}
/* line 100, ../sass/magnify.styles.scss */
.nav-wrapper nav .nav-item a {
  background: url("../images/nav-sep.png") no-repeat right 0;
  color: white;
  display: block;
  font-family: "PTSansBold", arial, sans-serif;
  font-size: 16.25px;
  line-height: 105px;
  margin-left: -4px;
  text-align: center;
}

/* ==========================================================================
   Logo and slogan
   ========================================================================== */
/* line 129, ../sass/magnify.styles.scss */
.logo {
  display: inline;
}
/* line 131, ../sass/magnify.styles.scss */
.logo a {
  background: url("../logo.png") no-repeat;
  display: block;
  text-indent: -10000px;
  width: 205px;
}

/* line 139, ../sass/magnify.styles.scss */
.slogan, .slogan a:link, .slogan a:visited, .slogan a:hover, .slogan a:focus {
  color: #868686;
  font-size: 19.5px;
}

/* ==========================================================================
   Headlines
   ========================================================================== */
/* line 158, ../sass/magnify.styles.scss */
h1,
h2,
h3 {
  font-family: "PTSansBold", arial, sans-serif;
  margin: 0;
}

/* line 163, ../sass/magnify.styles.scss */
h2 {
  font-size: 35.1px;
}

/* line 167, ../sass/magnify.styles.scss */
h3 {
  font-size: 28.6px;
}

/* ==========================================================================
   Links
   ========================================================================== */
/* line 177, ../sass/magnify.styles.scss */
a:link {
  color: #3cbcd3;
  text-decoration: none;
}
/* line 181, ../sass/magnify.styles.scss */
a:visited {
  color: #248c9f;
}
/* line 184, ../sass/magnify.styles.scss */
a:hover {
  color: #1f7a8a;
}
/* line 187, ../sass/magnify.styles.scss */
a:focus {
  color: #1f7a8a;
}

/* line 193, ../sass/magnify.styles.scss */
p a {
  border-bottom: 1px dashed;
  font-weight: bold;
}
/* line 196, ../sass/magnify.styles.scss */
p a:hover {
  border-bottom: 0;
}

/* ==========================================================================
   Grid
   ========================================================================== */
/* line 207, ../sass/magnify.styles.scss */
.grid-full {
  margin: 0 auto;
  max-width: 700px;
}

/* ==========================================================================
   List of social links
   ========================================================================== */
/* line 217, ../sass/magnify.styles.scss */
.social {
  margin: 1.5em auto;
  text-align: center;
  width: 150px;
}
/* line 221, ../sass/magnify.styles.scss */
.social li {
  display: inline;
  float: left;
  margin: 0 10px;
}
/* line 225, ../sass/magnify.styles.scss */
.social li a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
  background: url("../images/social.png") no-repeat;
  display: block;
  height: 24px;
  text-indent: -10000px;
  width: 24px;
}
/* line 233, ../sass/magnify.styles.scss */
.social li a.twitter {
  width: 32px;
}
/* line 236, ../sass/magnify.styles.scss */
.social li a.facebook {
  background-position: -32px 0;
}
/* line 239, ../sass/magnify.styles.scss */
.social li a.linkedin {
  background-position: -56px 0;
}
/* line 242, ../sass/magnify.styles.scss */
.social li a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
