/* ==========================================================================
   Imports
   ========================================================================== */

@import "compass/css3";

/* ==========================================================================
   Fonts
   ========================================================================== */

@include font-face("ChivoRegular", font-files("chivo/Chivo-Regular-webfont.woff",
   "chivo/Chivo-Regular-webfont.ttf", "chivo/Chivo-Regular-webfont.svg"),
   "chivo/Chivo-Regular-webfont.eot", 'normal', 'normal');

@include font-face("ChivoBlack", font-files("chivo/Chivo-Black-webfont.woff",
   "chivo/Chivo-Black-webfont.ttf", "chivo/Chivo-Black-webfont.svg"),
   "chivo/Chivo-Black-webfont.eot", 'Black', 'normal');

@include font-face("PTSans", font-files("pt-sans/PT575F-webfont.woff",
   "pt-sans/PTS55F-webfont.ttf", "pt-sans/PTS55F-webfont.svg"),
   "pt-sans/PTS55F-webfont.eot", 'normal', 'normal');

/* ==========================================================================
   Variables
   ========================================================================== */

$text-size:             13px;
$text-color-primary:    #464646;
$text-font-family:      arial, sans-serif;
$text-primary-font:     'ChivoRegular', $text-font-family;
$text-strong-font:      'ChivoBlack', $text-font-family;
$text-secondary-font:   'PTSans', $text-font-family;

$link-color:        #3cbcd3;
$link-color-hover:  darken($link-color, 25%);

$spacing: 20px;

html {
  background: url("../images/pattern.jpg");
  height: 100%;
}

body {
  background: url("../images/lizard.png") no-repeat;
  background-position: fixed;
  color: $text-color-primary;
  font-family: $text-primary-font;
  font-size: 13px;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* ==========================================================================
   Layout elements
   ========================================================================== */

header {
  padding-top: $spacing * 1.5;
}

nav {
  background: url("../images/nav-hz-bg.png") repeat-x left top;
  a {
    display: inline-block;
    min-height: $spacing * 3;
    &.active {
      background: url("../images/nav-hz-bg.png") repeat-x left bottom;
    }
  }
}


/* ==========================================================================
   Logo and slogan
   ========================================================================== */

.logo {
  display: inline;
  a {
    background: url("../logo.png") no-repeat;
    display: block;
    text-indent: -10000px;
    width: 205px;
  }
}

.slogan {
  color: lighten($text-color-primary, 25%);
  font-size: $text-size * 1.5;
  a {
    &:link,
    &:visited,
    &:hover,
    &:focus {
      @extend .slogan;
    }
  }
}

/* ==========================================================================
   Headlines
   ========================================================================== */

h1,
h2,
h3 {
  font-family: $text-secondary-font;
  margin: 0;
}

h2 {
  font-size: $text-size * 2.7;
}

h3 {
  font-size: $text-size * 2.2;
}


/* ==========================================================================
   Links
   ========================================================================== */

a {
  &:link {
    color: $link-color;
    text-decoration: none;
  }
  &:visited {
    color: darken($link-color, 15%);
  }
  &:hover {
    color: darken($link-color, 20%);
  }
  &:focus {
    color: darken($link-color, 20%);
  }
}

p {
  a {
    border-bottom: 1px dashed;
    font-weight: bold;
    &:hover {
      border-bottom: 0;
    }
  }
}


/* ==========================================================================
   Grid
   ========================================================================== */

.grid-full {
  margin: 0 auto;
  max-width: 700px;    
}


/* ==========================================================================
   List of social links
   ========================================================================== */

.social {
  margin: 1.5em auto;
  text-align: center;
  width: 150px;
  li {
    display: inline;
    float: left;
    margin: 0 10px;
    a {
      @include opacity(.25);

      background: url("../images/social.png") no-repeat;
      display: block;
      height: 24px;
      text-indent: -10000px;
      width: 24px;
      &.twitter {
        width: 32px;
      }
      &.facebook {
        background-position: -32px 0;
      }
      &.linkedin {
        background-position: -56px 0;
      }
      &:hover {
        @include opacity(.5);
      }
    }
  }
}
