/* Breakpoints
   ================================================================================================================== */


$breakpoint-lap:          481px;
$breakpoint-desk:         1024px;
$breakpoint-bigscreen:    1700px;



/* Colors
   ================================================================================================================== */

$black:            #000;
$white:            #fff;



/* Typograhy
   ================================================================================================================== */

$font-family:      "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font:             1em/1.5 $font-family !default;



/* Link colors
   ================================================================================================================== */

$link-color:       #386990;
